/* Estilos para o container principal */
.home-container {
    text-align: center;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    padding: 100px;
    gap: 0.8rem;
    
}
.images{
    margin-bottom: 30px;
    width: 500px;
}
.images1{
  
    margin-top: 30px;
    

}

/* Estilo para o título */
.title-text {
    font-size: 52px;
    font-weight: bold;
    color: #28306D;
    margin-bottom: 50px;
    height: 15%;
}

/* Estilos para o botão de acesso */
/* .access-button {
    display: flex; 
    align-items: center; 
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    background-color: #28306D;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
    height: 70px
} */


/* Estilos para a imagem do botão */
/* .icon {
    margin-left: 5px; 
    width: 40px;
} */

/* Efeito de hover no botão */
/* .access-button:hover {
    background-color: #27498c;
} */

/* From Uiverse.io by cssbuttons-io */ 
/* .fancy {
    background-color: transparent;
    border: 2px solid #23C7D9;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: #23C7D9;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #23C7D9;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: #27498c;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   } */

   .uiverse {
    position: relative;
    background: #1BB4D3;
    color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #1BB4D3;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .uiverse:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  svg:hover span,
  svg:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .uiverse:hover,
  .uiverse:hover .tooltip,
  .uiverse:hover .tooltip::before {
    background: #28306D; /*linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));*/
    color: #ffffff;
  }

/* Estilo padrão para dispositivos móveis (por exemplo, iPhones) */
@media (max-width: 600px) {

.title-text{
    font-size: 25px;
}

.uiverse{
    position: fixed;
    margin-top: 500px;
}
}