/* Container principal da página IA */
.ia-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 6rem; */
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  overflow-y: auto;
  /* Permite rolagem vertical */

}


.img-logo{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  
}

.imf-img{
  height: 100px;
  width: 300px;
}

/* Estilo para o cabeçalho com imagem e nome da aplicação */
.ia-nome {
  display: flex;
  align-items: flex-start; /* Mantém a imagem alinhada à esquerda */
  gap: 0.1rem; /* Espaçamento entre imagem e o nome/estado */
  padding: 8px;
  background-color: #dbd7d7f2;
  width: 100%;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1; /* Certifica-se de que fica acima do conteúdo rolável */
  margin: 0 auto;
}

/* Estilo para a imagem de perfil */
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0;
  border: 2px solid #28306D;
  /* Adiciona uma borda branca ao redor da imagem */
}

/* Estilo para o nome da aplicação */
.ia-app-name {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #161540;
  font-weight: 500;
  gap: 0rem;
}

.digitando-texto {
  font-size: 14px;
  color: #888;
  font-style: italic;
}

/* Efeito de rotação para alternar entre chat e gráfico */
.chat-grafico-wrapper {
  width: 100%;
  max-width: 600px;
  perspective: 1000px;
  position: relative;
}


/* Estilo da barra de rolagem */
.chat-conversa::-webkit-scrollbar {
  width: 10px;
}

.chat-conversa::-webkit-scrollbar-thumb {
  background-color: #dbd7d78a;
  /* Cor da barra */
  border-radius: 6px;
}

.chat-conversa::-webkit-scrollbar-thumb:hover {
  background-color: #b4b4b4;
  /* Cor quando o mouse está sobre a barra */
}

.chat-conversa::-webkit-scrollbar-track {
  background-color: #f0f0f03e;
  /* Cor da trilha */
}

/* Estilo para o gráfico */
.ia-grafico {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 2rem;
  max-width: 600px;
  height: 355px;
  position: absolute;
  top: 10%;
  background-color: white;
  backface-visibility: hidden;
  opacity: 0;
  display: none;

}



.ia-grafico.mostrar-grafico {
  display: block;
  opacity: 1;
  transition: transform 2.5s ease-in-out;
}

.ia-grafico.esconder-grafico {
  opacity: 0;
  display: none;
  transition: opacity 2.5s ease-in-out, transform 2.5s ease-in-out;
}

/* Contêiner de mensagens estilo chat */
.chat-conversa {
  width: 100%;
  background-image: url('../Assets/fundo4.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  transition: transform 2.0s ease-in-out;
}

/* Estilo para cada mensagem dentro do chat */
.mensagem {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

/* Estilo para a pergunta no chat */
.mensagem p {
  margin: 5px 0;
}

.mensagem strong {
  color: #28306D;
  /* Cor azul escuro para diferenciar */
}

/* Estilo para as perguntas do usuário */
.mensagem .pergunta {
  background-color: #28306D;
  color: white;
  padding: 10px;
  border-radius: 15px 15px 0 15px;
  word-wrap: break-word;
  font-size: 16px;
  align-self: flex-end;
  max-width: 80%;
  margin-bottom: 5px;
  text-align: left;
  opacity: 0;
  transform: translateY(20px); /* Começa ligeiramente abaixo */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Aplica uma transição suave */
}

/* Estilo para as respostas da IA */
.mensagem .resposta {
  background-color: #41BAC9;
  color: white;
  padding: 10px;
  border-radius: 15px 15px 15px 0;
  word-wrap: break-word;
  font-size: 16px;
  align-self: flex-start;
  max-width: 80%;
  text-align: left;
  white-space: normal;
  opacity: 0;
  transform: translateY(20px); /* Começa ligeiramente abaixo */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Aplica uma transição suave */
}



.mensagem.aparecer .pergunta, .mensagem.aparecer .resposta {
  opacity: 1;
  transform: translateY(0); /* Volta para a posição original */
}


.digitando-p {
  font-size: 20px;
  color: white;
  font-style: italic;
  animation: digitando 4s steps(3, end) infinite; /* Animação de 1s para 3 estágios, repetindo infinitamente */
}

@keyframes digitando {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}


/* Estilo para o input de pergunta */
.ia-input {
  padding: 10px;
  font-size: 16px;
  width: calc(100% - 60px);
  border: 2px solid #28306D;
  border-radius: 20px;

}

/* Contêiner para o input e o botão */
.input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-width: 540px; */
  height: 50px;
  gap: 10px;
  /* bottom: 20px; */
  /* background-color: #f6f6f6a9; */
  padding: 10px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

/* Botão de envio */
.ia-button:hover {
  background-color: #34477e;
}

.ia-button:hover {
  background-color: #28306D;
}

/* Estilo para o botão de gráfico */
.ia-button-grafico {
  background-color: #41BAC9;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 47px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ia-button-grafico:hover {
  background-color: #369ba9;
}

/* Estilo para o título do gráfico */
.ia-title-grafico {
  margin-top: 10px;
  font-size: 24px;
  color: #28306D;
  margin-bottom: 20px;
  
}

/* Estilo padrão para dispositivos móveis (por exemplo, iPhones) */
@media (max-width: 600px) {
  .ia-container {
     /* Reduz o espaçamento entre os elementos */
    height: auto; /* Ajusta o height para permitir rolagem */
  }

  .ia-title1 {
    font-size: 25px; /* Reduz o tamanho do título */
  }
  .ia-title{
    font-size: 10px;
  }

  .imf-img {
    width: 250px;
    height:120px; /* Aumenta a largura e altura da imagem */
    margin-top: 100px; /* Ajusta a largura da imagem para se adaptar à tela */
  }

  .ia-nome {
    padding: 5px; /* Reduz o padding do cabeçalho */
  }

  .ia-input {
    width: calc(100% - 40px); /* Ajusta a largura do input */
  }

  .chat-conversa {
    margin-top: 15px;
    height: 350px; /* Ajusta a altura do chat para caber melhor */
   
  }
  .ia-grafico{
    height: 323px; /* Mantém a altura do chat */
  }
}

/* Estilo para tablets no modo retrato */
@media (min-width: 700px) and (max-width: 1920px) {
  .ia-container {
    gap: 3rem;
  }

  .ia-title1 {
    font-size: 36px; /* Ajusta o tamanho do título para tablets */
  }

  .imf-img {
    height: 180px;
    width: 350px; /* Ajusta a largura da imagem */
  }

  .chat-conversa {
    height: 500px; /* Ajusta a altura do chat */
  }
}

/* Estilo para Galaxy Tab A9 (SM-X216B) no modo paisagem */
@media (min-width: 1200px) and (max-width: 1920px) and (orientation: landscape) {
  .ia-container {
    gap: 1rem; /* Ajusta o espaçamento entre os elementos */
    /* padding: 20px; Adiciona padding para melhor visualização */
    height: 100vh;
  }

  .imf-img {
    height: 120px;
    width: 250px; /* Ajusta a largura e altura da imagem */
    margin-top: 100px;
  }

  .ia-title1 {
    font-size: 40px; /* Ajusta o tamanho do título principal */
  }

  .ia-title {
    font-size: 18px; /* Ajusta o tamanho do subtítulo */
  }

  .chat-conversa {
    height: 400px; /* Ajusta a altura do chat para ocupar mais espaço */
  }

  .ia-grafico {
    height: 355px; /* Ajusta a altura do gráfico */
    max-width: 600px; /* Aumenta a largura máxima do gráfico */
  }

  .ia-input {
    font-size: 18px; /* Aumenta o tamanho da fonte no input */
    width: calc(100% - 80px); /* Ajusta a largura do input */
  }

  .ia-nome {
    padding: 8px; /* Ajusta o padding do cabeçalho */
  }

  .mensagem .pergunta, .mensagem .resposta {
    font-size: 18px; /* Ajusta o tamanho do texto nas mensagens */
  }

  .input-button {
    height: 60px; /* Aumenta a altura do contêiner do input e botão */
  }

  .ia-button {
    font-size: 18px; /* Ajusta o tamanho do texto no botão */
  }

  .ia-button-grafico {
    font-size: 18px; /* Ajusta o tamanho do botão de gráfico */
  }
}



