@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100vh;
  max-width: 100vw; */
}
body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  max-width: 100vw;
  background: white no-repeat;
  background-size: cover;
  background-position: center;
}

